<?xml version="1.0"?>

<!-- Corpo base do robô, suas juntas e localização de sensores -->
<!-- Dimensões são em metros -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="materials.xacro"/>
    <xacro:include filename="inertials.xacro"/>

    <!-- Chassi -->
    <xacro:property name="chassiB_x" value="0.507"/>
    <xacro:property name="chassiB_y" value="0.351"/>
    <xacro:property name="chassiB_z" value="0.104"/>    <!-- 0.1 (Parte A) + 0.15 (Parte B) -->

    <xacro:property name="chassiA_x" value="0.516"/>
    <xacro:property name="chassiA_y" value="0.366"/>
    <xacro:property name="chassiA_z" value="0.173"/>

    <!-- Massa do Chassi => (Estimativa Inicial) - 2*(RodasTraseira + RodasApoio) = 6 - 2*(0.055 + 0.05) = 5.79 kg, approx. 5.8 kg -->
    <xacro:property name="chassiB_massa" value="2"/>
    <xacro:property name="chassiA_massa" value="3.8"/>

    <xacro:property name="chassiB_origem" value="0 0 0"/> <!-- "0.254 0.0 0.052" --> 
    <xacro:property name="chassiB_joint_xyz" value="0 0 0.097"/> <!-- 0.045 + 0.052 -->

    <xacro:property name="chassiA_origem" value="0 0 0"/> <!-- "0.258 0.0 0.087" -->
    <xacro:property name="chassiA_joint_xyz" value="0 0 0.1185"/> <!-- 0.052 + 0.0865 - 0.02 -->

    <!-- Rodas dianteiras -->
    <xacro:property name="roda_raio" value="0.04"/>
    <xacro:property name="roda_comprimento" value="0.04"/>
    <xacro:property name="roda_massa" value="0.5"/>
    <xacro:property name="roda_y" value="0.215"/>
    <xacro:property name="roda_x" value="0.22"/>
    <xacro:property name="roda_z" value="-0.052"/>
    <xacro:property name="roda_mu1" value="0.65"/>
    <xacro:property name="roda_mu2" value="0.65"/>

    <!-- Roda(s) de apoio -->
    <xacro:property name="apoio_raio" value="0.04"/>
    <xacro:property name="apoio_massa" value="0.35"/>
    <xacro:property name="apoio_x" value="-0.2"/>
    <xacro:property name="apoio_y" value="0.125"/>
    <xacro:property name="apoio_z" value="-0.052"/>
    <xacro:property name="apoio_mu1" value="0.2"/>
    <xacro:property name="apoio_mu2" value="0.2"/>


    <link name="base_link"/>

    <!-- Chassi B -->
    <joint name="junta_chassiB" type="fixed">
        <parent link="base_link"/>
        <child link="chassiB"/>
        <origin xyz="${chassiB_joint_xyz}" rpy="0 0 0"/>
    </joint>

    <link name="chassiB">
        <visual>
            <origin xyz="${chassiB_origem}"/>
            <geometry>
                <box size="${chassiB_x} ${chassiB_y} ${chassiB_z}"/>
            </geometry>
            <material name="gray"/>
        </visual>
        <collision>
            <origin xyz="${chassiB_origem}"/>
            <geometry>
                <box size="${chassiB_x} ${chassiB_y} ${chassiB_z}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="${chassiB_massa}" x="${chassiB_x}" y="${chassiB_y}" z="${chassiB_z}">
            <origin xyz="${chassiB_origem}" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <!-- Chassi A -->
    <joint name="junta_chassiA" type="fixed">
        <parent link="chassiB"/>
        <child link="chassiA"/>
        <origin xyz="${chassiA_joint_xyz}" rpy="0 0 0"/>
    </joint>

    <link name="chassiA">
        <visual>
            <origin xyz="${chassiA_origem}"/>
            <geometry>
                <box size="${chassiA_x} ${chassiA_y} ${chassiA_z}"/>
            </geometry>
            <material name="gray"/>
        </visual>
        <collision>
            <origin xyz="${chassiA_origem}"/>
            <geometry>
                <box size="${chassiA_x} ${chassiA_y} ${chassiA_z}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="${chassiA_massa}" x="${chassiA_x}" y="${chassiA_y}" z="${chassiA_z}">
            <origin xyz="${chassiA_origem}" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <!-- Roda Esquerda Dianteira -->
    <joint name="roda_esquerda_joint" type="continuous">
        <parent link="chassiB"/>
        <child link="roda_esquerda"/>
        <origin xyz="${roda_x} ${roda_y} ${roda_z}" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
    </joint>

    <link name="roda_esquerda">
        <visual>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
            <geometry><cylinder radius="${roda_raio}" length="${roda_comprimento}"/></geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
            <geometry><cylinder radius="${roda_raio}" length="${roda_comprimento}"/></geometry>
        </collision>
        <xacro:inertial_cylinder mass="${roda_massa}" length="${roda_comprimento}" radius="${roda_raio}">
            <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        </xacro:inertial_cylinder>
    </link>
    <gazebo reference="roda_esquerda">
        <mu1>${roda_mu1}</mu1>
        <mu2>${roda_mu2}</mu2>
    </gazebo>

    <!-- Roda Direita Dianteira -->
    <joint name="roda_direita_joint" type="continuous">
        <parent link="chassiB"/>
        <child link="roda_direita"/>
        <origin xyz="${roda_x} -${roda_y} ${roda_z}" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
    </joint>

    <link name="roda_direita">
        <visual>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
            <geometry><cylinder radius="${roda_raio}" length="${roda_comprimento}"/></geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
            <geometry><cylinder radius="${roda_raio}" length="${roda_comprimento}"/></geometry>
        </collision>
        <xacro:inertial_cylinder mass="${roda_massa}" length="${roda_comprimento}" radius="${roda_raio}">
            <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        </xacro:inertial_cylinder>
    </link>
    <gazebo reference="roda_direita">
        <mu1>${roda_mu1}</mu1>
        <mu2>${roda_mu2}</mu2>
    </gazebo>

    <!-- Rodas de Apoio -->

    <!-- Roda Esquerda -->
    <joint name="roda_boba1_joint" type="fixed">
        <parent link="chassiB"/>
        <child link="roda_boba1"/>
        <origin xyz="${apoio_x} ${apoio_y} ${apoio_z}"/>
    </joint>

    <link name="roda_boba1">

        <visual>
            <geometry>
                <sphere radius="${apoio_raio}"/>
            </geometry>
            <material name="black"/>
        </visual>

        <collision>
            <geometry>
                <sphere radius="${apoio_raio}"/>
            </geometry>
        </collision>

        <xacro:inertial_sphere mass="${apoio_massa}" radius="${apoio_raio}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_sphere>

    </link>

    <!-- Roda Direita -->
    <joint name="roda_boba2_joint" type="fixed">
        <parent link="chassiB"/>
        <child link="roda_boba2"/>
        <origin xyz="${apoio_x} -${apoio_y} ${apoio_z}"/>
    </joint>

    <link name="roda_boba2">

        <visual>
            <geometry>
                <sphere radius="${apoio_raio}"/>
            </geometry>
            <material name="black"/>
        </visual>

        <collision>
            <geometry>
                <sphere radius="${apoio_raio}"/>
            </geometry>
        </collision>

        <xacro:inertial_sphere mass="${apoio_massa}" radius="${apoio_raio}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_sphere>

    </link>

    <gazebo reference="roda_boba1">
        <self_collide>false</self_collide>
        <mu1>${apoio_mu1}</mu1>
        <mu2>${apoio_mu2}</mu2>
    </gazebo>

    <gazebo reference="roda_boba2">
        <self_collide>false</self_collide>
        <mu1>${apoio_mu1}</mu1>
        <mu2>${apoio_mu2}</mu2>
    </gazebo>

</robot>