<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="ultrasound_sensor" params="name parent xyz rpy topic">

        <link name="${name}_link">
            <visual>
                <geometry><cylinder length="0.015" radius="0.02"/></geometry>
            </visual>
            <inertial>
                <mass value="0.005"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="1e-7" ixy="0" ixz="0" iyy="1e-7" iyz="0" izz="1e-7"/>
            </inertial>
        </link>

        <joint name="${name}_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${name}_link"/>
            <origin xyz="${xyz}" rpy="${rpy}"/>
        </joint>

       
    </xacro:macro>
</robot>